.hero{
  background: url('../../images/hero.jpg') no-repeat bottom left;
  background-repeat:no-repeat;
  height:60vh;
  background-size:125%;
  color:black;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:#e9e8e6;
  justify-content:center;
}

.heroText{
  width:80%;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heroText h2 {
  font-size: 28px;
  line-height:35px;
  color:#041f3c;
  font-family: 'Sriracha', cursive;
}

.heroText p{
  font-size: 16px;
  line-height: 20px;
  padding-top:15px;
  padding-bottom:15px;
}

.getStarted {
  padding: 10px;
  background-color: #f5d60d;
  color:black;
  border-radius: 25px;
  width:70%;
  height:50px;
  color:#041f3c;
  font-size:18px;
  text-decoration: none;
  display:flex;
  justify-content:center;
  align-items:center;
}
  
.getStarted:hover {
  background-color: black;
  color:white;
  cursor: pointer;
}


.phoneImg{
  width:58%;
  border-radius: 25px;
  float:right;
  margin-top:10px;
}

#directionsSection{
  padding:20px;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.landingPageButtonContainer{
  height:70px;
  display:flex;
  flex-direction: column;
  align-items:center;
  width:50%;
  margin-top:25px;
}

.registerButton{
  padding: 10px;
  background-color: #f5d60d;
  color:black;
  border-radius: 25px;
  width:75%;
  height:50px;
  color:#041f3c;
  font-size:18px;
  text-decoration: none;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
}



.registerButton:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}

.landingPageButtonContainer p a {
  color:black;
}

.directionsSection .step{
  color:#041f3c;
  display:inline;
  font-family: 'Sriracha', cursive;
  font-size:20px;
}

.directionsSection h3{
  font-family: 'Sriracha', cursive;
  color:#041f3c;
  font-size: 22px;
}

.directionsSection p{
  font-size:16px;
  line-height:20px;
  margin-top:10px;
}

.demoInfo{
  width:100%;
  margin-top:10px;
  display:flex;
  justify-content:center;
}

.demoInfo p{
  padding:10px;
  width:85%;
  margin-top:0px;
  background-color:#041f3c;
  border-radius:25px;
  color:white;
  text-align: center;
  box-shadow: 0 10px 10px -1px rgba(0,0,0,.2);
}

.directionsText{
  display:flex;
  flex-direction: column;
}

@media only screen and (min-width: 400px) {
  #directionsSection{
    padding-right:30px;
    padding-left:30px;
  }
}

@media only screen and (min-width: 450px) {
  #directionsSection{
    padding-right:40px;
    padding-left:40px;
  }
  .phoneImg{
    width:45%;
  }
}

@media only screen and (min-width: 450px) {
  #directionsSection{
    padding-right:50px;
    padding-left:50px;
  }
  .phoneImg{
    width:35%;
    margin-left:10px;
  }
}

.stepThree{
  padding-top:10px;
}

.imgContainer{
  margin-top:10px;
}

@media only screen and (min-width: 600px) {
  .heroText{
    width:65%;
  }
  #directionsSection{
    padding-right:60px;
    padding-left:60px;
  }
  .phoneImg{
    width:30%;
    margin-left:30px;
  }
}

@media only screen and (min-width: 650px) {
  #directionsSection{
    padding-right:80px;
    padding-left:80px;
  }
  .phoneImg{
    width:30%;
    margin-left:20px;
  }
}

@media only screen and (min-width: 800px) {
  .heroText{
    width:55%;
  }
  #directionsSection{
    padding-right:120px;
    padding-left:120px;
  }
  .phoneImg{
    width:40%;
    margin-left:30px;
  }
}

@media only screen and (min-width: 850px) {
  #directionsSection{
    padding-right:160px;
    padding-left:160px;
  }
}

@media only screen and (min-width: 950px) {
  .heroText{
    width:55%;
  }
  #directionsSection{
    padding-right:200px;
    padding-left:200px;
  }
}


@media only screen and (min-width: 1000px) {
  .heroText{
    width:40%;
  }
  #directionsSection{
    padding-right:220px;
    padding-left:220px;
  }
}

@media only screen and (min-width: 1200px) {

  #directionsSection{
    padding-right:320px;
    padding-left: 320px;
  }
  .phoneImg{
    width:30%;
    margin-left:30px;
  }
}