footer {    
    height: 12vh;
    width: 100%;
    position: absolute;
    bottom:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    color: #041f3c;
}

.socialLinks{
    display:flex;
    
    display:flex;
    justify-content: space-evenly;
}

.socialLinks li{
    list-style: none;

}

.socialLinks i{
    color: #041f3c;
    padding-left:5px;
    padding-right:5px;
}

.socialLinks i:hover{
    color:grey;
}
