
.available-plants-section h2{
  text-align: center;
  padding-bottom: 15px;
}
  
  .all-plants-container{
    width:100%;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  
  .directions {
    color:grey;
  }
  
  .directions a {
    color: black;
  }
  
  .directions a:hover {
    color: grey;
    cursor:pointer;
  }
  
  #search-plants{
    border:1px solid grey;
  }
  

.switchPagesButton{
  background-color: #f5d60d;
  color:black;
  border-radius: 25px;
  width:100%;
  height:50px;
  color:#041f3c;
  display:flex;
}

.pageButton{
  width:50%;
  display:flex;
  align-items:center;
  justify-content: center;
}

.notCurrent:hover{
background-color:#e6c90d;
cursor: pointer;
}

.pageButton p, .pageButton{
  text-decoration: none;
  color:#041f3c;
}


.availableButton{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.yourPlantsButton{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.current{
  -webkit-box-shadow: inset 1px 1px 10px #d8bd0e;
  -moz-box-shadow:    inset 1px 1px 10px #d8bd0e;
  box-shadow:         inset 1px 1px 10px #d8bd0e;
}

.banner{
  background: url('../../images/waterBanner.jpg') no-repeat bottom left;
  background-size:100%;
  background-repeat:no-repeat;
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:20px;
}