.indiv-plant{
    width:50%;
    margin-top:20px;
  }
  
  .indiv-plant img {
    width:100%;
    border-radius:10px;
  }
  
  .indiv-plant button {
    width:100%;
    padding: 5px;
    background-color: #041f3c;
    color:white;
    border-radius:10px;
}

.indiv-plant button:hover{
  cursor: pointer;
}



