.indivPlant {
  width: 50%;
  margin-top: 20px;
}
  
.indivPlant img {
  width: 100%;
  border-radius: 10px;
}
  
.indivPlant button {
  width: 100%;
  padding: 5px;
  background-color: #041f3c;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

.indivPlant button:hover {
  cursor: pointer;
}

.indivPlant h3 {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Sriracha', cursive;
}

@media only screen and (min-width: 550px) {
  .indivPlant {
    width:40%;
  }
}

@media only screen and (min-width: 750px) {
  .indivPlant {
    width:30%;
  }
}

@media only screen and (min-width: 950px) {
  .indivPlant {
    width:25%;
  }
}

@media only screen and (min-width: 1200px) {
  .indivPlant { 
    width:20%;
  }
}
